<div class="q-pa-md">
  <q-markup-table flat bordered>
    <thead class="bg-blue">
      <tr>
        <th colspan="5">
          <div class="row no-wrap justify-between items-center">
            <div class="text-h4 q-ml-sm text-white">11日</div>
            <div class="q-pa-md flex justify-end">
              <!-- <q-pagination
                v-model="current"
                color="white"
                active-text-color="black"
                :max="3"
                :max-pages="8"
                :boundary-numbers="false"
              /> -->
            </div>
          </div>
        </th>
      </tr>
      <tr class="text-white">
        <th class="text-left">時間</th>
        <th class="text-right">商品名</th>
        <th class="text-right">個数</th>
        <th class="text-right">金額</th>
        <th class="text-right">消去</th>
      </tr>
    </thead>
    <tbody class="bg-grey-3" v-for="(chunk, index) in finance">
      <tr class="text-left">
        <td :rowspan="chunk.data.length + 2">{{ new Date(chunk.date).toLocaleTimeString() }}</td>
      </tr>
      <tr v-for="(item, index2) in chunk.data">
        <td class="text-right">{{item.goods.name}}</td>
        <td class="text-right">{{item.amount}}</td>
        <td class="text-right">¥ {{item.goods.price * item.amount}}</td>
        <td class="text-right"><q-btn flat icon="delete" color="negative" @click="deleteIncomeFinance(index, index2)"></q-btn></td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">合計</td>
        <td class="text-right">¥ {{ chunk.data.reduce((sum, i) => (i.goods.price * i.amount) + sum, 0) }}</td>
        <td class="text-right"><q-btn disable flat icon="add" color="primary"></q-btn></td>
      </tr>
    </tbody>
  </q-markup-table>
</div>
