<tips-banner v-if="isDemoMode" @detail-click="this.$router.push('/help/demo')">
  <b>デモモード</b>
  <p>現在、デモモードが有効化されています。</p>
  <p>このモードで加えられた変更の内容はログアウトすると消去されます。</p>
</tips-banner>
<div class="q-pa-md">
  <div class="text-h4 q-pa-md"> {{ listTitle }} </div>
  <q-list ref="listRef" bordered separator>
    <q-intersection :root="listEl" v-for="(goods, index) in goodies" once transition="jump-up">
      <q-item clickable v-ripple :to="detailUrl + '/' + index">
        <q-item-section> {{ index + 1 }}. {{ goods.name }}</q-item-section>
        <q-item-section side> ¥ {{ goods.price }} </q-item-section>
        <q-item-section avatar>
          <q-btn flat color="negative" icon="delete" @click="deleteItem(index)" />
        </q-item-section>
      </q-item>
    </q-intersection>
    <q-expansion-item expand-separator icon="add" :duration="500" label="追加" v-model="isOpened">
      <q-form ref="formComp" @submit="onSubmit" @reset="onReset" class="fit column q-pa-md">
        <div class="fit row wrap justify-evenly">
          <div class="q-pa-md col-grow q-gutter-md">
            <q-input name="name" filled v-model="currentGoodsName" label="名前" hint="商品名" lazy-rules
              :rules="[ val => val && val.length > 0 || 'この項目は必須です。']" />
            <q-input name="price" filled type="number" v-model="currentGoodsPrice" label="値段" lazy-rules prefix="¥"
              :rules="[ val => val !== null && val !== '' || '値段を入力してください。' ]" />
            <div class="row justify-start">
              <q-btn label="保存" type="submit" color="primary" />
              <q-btn label="クリア" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
          </div>
          <div v-if="acceptImage" class="q-pa-md col-grow">
            <div>
              <q-file name="imageFile" accept="image/*" filled bottom-slots v-model="currentGoodsImage" label="領収書" counter :rules="[ val => val != null  || '画像を選択してください。' ]">
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" @click.stop />
                </template>
                <template v-slot:append>
                  <q-icon name="close" @click.stop="currentGoodsImage = null" class="cursor-pointer" />
                </template>
        
                <template v-slot:hint>
                  領収書の写真
                </template>
              </q-file>
              <q-img class="q-mt-lg" :src="createBlobUrl" />
            </div>
          </div>
        </div>
      </q-form>
    </q-expansion-item>
  </q-list>
</div>
