<tips-banner v-if="isDemoMode" tips-page @detail-click="this.$router.push('/help/demo')">
  <b>デモモード</b>
  <p>現在、デモモードが有効化されています。</p>
  <p>このモードで加えられた変更の内容はログアウトすると消去されます。</p>
</tips-banner>
<q-form @submit="onSubmit" @reset="onReset" class="fit column q-pa-md">
  <div class="text-h4">お店の情報</div>
  <div class="fit row wrap justify-evenly">
    <div class="q-pa-md col-grow q-gutter-md">
      <q-input name="name" filled v-model="currentShopName" label="名前" hint="店名" lazy-rules
        :rules="[ val => val && val.length > 0 || 'この項目は必須です。']" />
      <div class="q-gutter-sm">
        詳細・メモ
        <q-editor
          v-model="currentShopDetail"
          :toolbar="[['bold', 'italic', 'strike', 'underline']]"
        />
      </div>
      <div class="row q-mx-lg">
        <q-btn label="保存" type="submit" color="primary" />
        <q-btn v-if="isChanged" label="変更を破棄" type="reset" color="negative" flat class="q-ml-sm" />
      </div>
    </div>
    <div class="q-pa-md col-grow">
      <q-file accept="image/*" filled bottom-slots v-model="imageFile" label="イメージ写真" counter multiple>
        <template v-slot:prepend>
          <q-icon name="cloud_upload" @click.stop />
        </template>
        <template v-slot:append>
          <q-icon name="close" @click.stop="imageFile = null" class="cursor-pointer" />
        </template>

        <template v-slot:hint>
          写真・イメージ
        </template>
      </q-file>
      <q-img class="q-mt-lg" :src="createBlobUrl" />
    </div>
  </div>
  
</q-form>