<q-form @submit="onSubmit" class="q-ma-md">
  <div class="row justify-between items-center">
    <div class="text-h4 q-my-sm">予算の決定</div>
    <div><q-btn type="submit" color="primary" label="登録" /></div>
  </div>
  <div class="full-width column items-stretch q-mx-md q-gutter-md">
    <div class="full-width row items-center q-gutter-sm">
      <q-input type="number" class="col" filled v-model="billPerStudent" label="生徒一人あたり" prefix="¥" />
      <div class="text-h3 q-mx-lg">×</div>
      <q-input type="number" class="col" filled v-model="numberOfStudent" label="生徒人数" suffix="人" />
      <div class="text-h3 q-mx-lg">+</div>
      <q-input type="number" class="col" filled v-model="otherBill" label="先生・学校などの負担金額" prefix="¥" />
    </div>
    <div class="full-width row items-center q-gutter-md">
      <div class="text-h3 q-mx-lg"> = </div>
      <q-field class="col-grow" label="予算" stack-label readonly>
        <template v-slot:control>
          <div class="self-center full-width no-outline" tabindex="0">¥ {{ budgetSum }}</div>
        </template>
      </q-field>
    </div>
  </div>
</q-form>